matplotlib
numpy
onnx
onnxruntime
opencv-python
Pillow
pycocotools
scikit-learn
scipy
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
ipykernel
timm
# torch: pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
mobile_sam @ git+https://github.com/ChaoningZhang/MobileSAM.git
transformers
datasets
monai
patchify
tifffile